body{
    background-color:lightblue
}

h1{
    color:darkblue;
font:size 200;
text-align:center;
line-height:50px
}

p{
line-height:20px
}

img{
    width: 400px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

iframe{
display: block;
margin-right: auto;
margin-left: auto;
}
